@model Blog_App_MVC.Models.Post

<h1>Add New Post</h1>

<form method="post">
    <div>
        <input type="text" class="form-control" placeholder="Title"/>
        <input type="text" class="form-control" placeholder="Author" />
        <textarea name="textarea" class="form-control" rows="10" cols="50">Write your post here</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


